

# Ignore all things produced by autoreconf
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/config.log
/.libs
/Makefile
/.deps
/include/config.h.in
/include/config.h
/include/config.h.in~
/config.status
/include.am
/libtool
/include/stamp-h1
/libwolfengine.la
/wolfengine.lo
/openssl_bc.lo
/test-driver
/*.log
/*.trs
/m4/libtool.m4
/m4/lt*.m4
/bench.o
/bench
/build-aux
/src/*.o
/src/*.lo
/src/*.lo
/src/.deps
/src/.libs
/src/.dirstamp
/test/*.o
/test/.deps
/test/.libs
/test/.dirstamp
/test/unit.test
/test/unit.log
/test/unit.trs
/scripts/*.log
*.gcno
*.gcda

# Visual Studio files to ignore
.vs
x64
Release
DLL Release
Debug
DLL Debug
test.aps

# Eclipse files to ignore
.autotools
.cproject
.project
.settings
