

# Ignore all things produced by autoreconf
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/config.log
/.libs
/Makefile
/.deps
/include/config.h.in
/include/config.h
/include/config.h.in~
/config.status
/include.am
/libtool
/include/stamp-h1
/libwolfengine.la
/wolfengine.lo
/openssl_bc.lo
/test-driver
/*.log
/*.trs
/m4/libtool.m4
/m4/lt*.m4
/unit_test-unit.o
/unit_test-openssl_bc.o
/unit.test
/bench-bench.o
/bench-openssl_bc.o
/bench
/build-aux
/src/*.o
/src/*.lo
/src/.deps
/src/.libs
/src/.dirstamp
